@model IEnumerable<TTS.Lib.ViewModels.CultureViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Icon)
                </th>
            <th>
                    @Html.DisplayNameFor(model => model.Specificulture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lcid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>                
                 <i class="flag-icon @item.Icon"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specificulture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lcid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
