@model IEnumerable<TTS.Lib.ViewModels.Admin.BannerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Banners
                <p>
                    <a asp-action="Create">Create New</a>
                </p>

            </div>
            <div class="card-block">

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Url)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Alias)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Specificulture)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsPublished)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Url)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Alias)
                                </td>
                                <td>
                                    <img height="50px" src="/@Html.DisplayFor(modelItem => item.Image)" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Specificulture)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsPublished)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"> <i class="fa fa-pencil"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"> <i class="fa fa-eye"></i> </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"> <i class="fa fa-remove"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>