@model TTS.Lib.Models.TtsMenu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TtsMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="MenuId" />
        <input type="hidden" asp-for="Specificulture" />
        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seotitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seotitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seodescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seodescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seokeywords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seokeywords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentMenuId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentMenuId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecificultureNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecificultureNavigation.Specificulture)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
